* {
    margin: 0px;
    padding: 0px;
}


header iframe {
    background-color: black;
    width: 100%;
    border: none;
    height: 110px;
}

.logo {
    display: flex;
}

.boto {
    display: flex;
    align-items: center;
    
}
.espaco{
    padding: 20px;
}
.espacao{
    padding: 20px 120px;
}

.dentro {
    padding: 10px 18px;
    background-color: black;
    border: 1px rgb(255, 255, 255) solid;
    color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
}
.dentro:hover{
    background-color: rgb(62, 56, 66);
}
.dentro2{
    padding: 10px 18px;
    background-color: black;
    border: 1px rgb(255, 255, 255) solid;
    color: white;
    border-radius: 15px;
}

.sumido {
    visibility: hidden;
}
.opcao{
    font-size: 15px;
    padding: 20px;
}
.facebook{
    margin-left: 15px;
}
.login{
    padding: 12px 25px;
    background-color: black;
    border: 1px rgb(255, 255, 255) solid;
    color: white;
    display: flex;
    align-items: center;
    border-radius: 15px;
}
.login:hover{
    background-color: rgb(62, 56, 66);
}
